html,
body {
  color: var(--color-primary);
  background-color: var(--color-background);
  width: 320px;
  max-width: 320px;
  max-height: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
}

.popup-choice {
  width: 100%;
  font-size: 1em;
  text-align: left;
  cursor: pointer;
}

.popup-choice:hover {
  color: grey;
}
